.logo{
    border: 4px solid blue;

}






.Serviceforbusiness{
flex-direction: row;
display: flex;
margin-left: 100px;

  flex-wrap: wrap;

}
.Credits{
    flex-direction:row;
display: flex;
 margin-left: 400px;

    flex-wrap: wrap;
  
}

.Factoring{
    flex-direction: row;
display: flex;
  margin-left: 500px;
 
    flex-wrap: wrap;
}

.Documentarytransactions{
    flex-direction: row;
display: flex;
margin-left: 600px;

    flex-wrap: wrap;
}

.Additionalservices{
    flex-direction:row;
display: flex;
margin-left: 700px;

    flex-wrap: wrap;

}
.business{
    margin-left: 800px;
}
.onlinebank{
    margin-left: 800px;
}


.onlineaccount{
    margin-left: 100px;
    flex-direction: row;
    display: flex;
}


.onlinecredit{
    margin-left: 200px;
    flex-direction: row;
    display: flex;
    
}

.salaryproject{
    margin-left: 300px;
    flex-direction: row;
    display: flex;
}


.onlinepayment{
    margin-left: 100px;
    flex-direction: row;
    display: flex;
}


